@{
    ViewBag.Title = "Tr­­uong Dinh Tuyen";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Bai thi giua ki cua Truong Dinh Tuyen- Cam ket ko doa van</h3>

    <address>
      K22cnt3 - Mon lap trinh cong nghe ASP.net MCS5
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:loc4571@gmail.com">loc4571@gmail.com</a><br />
        <strong>Ca nhan:</strong> <a href="mailto:loc4571@gmail.com">loc4571@gmail.com</a>
    </address>
</main>